include *.txt
include *.yaml
include .bumpversion.cfg
include tox.ini
recursive-include docs *.css
recursive-include docs *.html
recursive-include docs *.ico
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.svg
recursive-include docs *.txt
recursive-include test *.py
